<% include ../partials/header %>
<% include ../partials/nav %>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>Log In</h2>
        <p></p>

        <% include ../partials/loginform %>

        <p><a href="/register">Don't have an account?</a></p>

      </div>
    </div>

    <hr>

  </div> <!-- /container -->


  <% include ../partials/footer %>
